{% extends 'base.html.twig' %}

{% block title %}Bookcrud - Books{% endblock %}

{% block body %}
<div class="container mt-4">
   {% if not books.items is same as([]) %}
    <h1>My books</h1>

    <a href="{{ path('book.new') }}" class="btn btn-outline-primary">
    Add a book
    </a>

    {# read and display just one flash messae type #}
      {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>
      {% endfor %}

    <div class="fs-4 count mt-4">
    There is {{ books.getTotalItemCount }} books in your booklist.
    </div>

    {# <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Creation date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">Read</th>
        </tr>
      </thead>
      <tbody> #}


        {% for book in books %}

            <div class="card border-primary mb-3" style="max-width: 20rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">{{ book.name }}</h4>
                <h5 class="card-subtitle">{{ book.author }}</h5>
                <div class="card-footer text-muted">
                  {{ book.createdAt|date("d/m/Y") }}
                </div>
              </div>
            </div>
{#
            <tr class="table-light">
              <td>{{ book.name }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.createdAt|date("d/m/Y") }}</td>
              <td>
              <a href="{{ path('book.edit', { id: book.id}) }}" class="btn btn-info">Edit</a>
              </td>
              <td>
              <a href="{{ path('book.delete', { id: book.id}) }}" class="btn btn-danger">Delete</a>
              </td>
              <td>
              <input type="checkbox">
              </td>
            </tr> #}
        {% endfor %}
      {# </tbody>
    </table> #}
    {# display navigation #}
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(books) }}
    </div>
    {% else %}
        <div class="fs-4">There is no books</div>
    {% endif %}
</div>
{% endblock %}
