{% extends 'base.html.twig' %}

{% block title %}MyBookApp - Public book lists{% endblock %}

{% block body %}
<div class="container mt-4">
   {% if not booklists.items is same as([]) %}
    <h1>Public book lists</h1>

    <a href="{{ path('booklist.new') }}" class="btn btn-outline-primary mt-4">
    Add a book list
    </a>

    {# read and display just one flash messae type #}
      {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>
      {% endfor %}

    <div class="fs-4 count mt-4">
    There is {{ booklists.getTotalItemCount }} public book list
    </div>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for booklist in booklists %}

            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 20rem ; max-height: 15rem">
                  <div class="card-header">Booklist n° {{ booklist.id }}</div>
                  <div class="card-body">
                    <h4 class="card-title">{{ booklist.name }}</h4>
                    <p class="card-subtitle">{{ booklist.description }}</p>
                    <div class="card-footer text-muted">
                      {{ booklist.createdAt|date("d/m/Y") }}
                      {{ booklist.updatedAt|date("d/m/Y") }}
                      {% if booklist.isFavorite == 1 %}<i class="bi bi-heart-fill"></i>{% else %}<i class="bi bi-heart"></i>{% endif %}
                      <a href="{{ path('booklist.edit', { id: booklist.id}) }}" class="btn btn-info">Edit</a>
                      <a href="{{ path('booklist.delete', { id: booklist.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
      </div>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(booklists) }}
    </div>
    {% else %}
        <div class="fs-4">There is no book lists</div>
    {% endif %}
</div>
{% endblock %}
